/* This is the page of custom css for specific files. */

/* Background video animations only here... available here. */

.video-container-explore {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }

  @media (max-width: 789px) {
    .video-container-explore {
      height: 40vh;
    }
  }

  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Dark Overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity (0.5 for a darker effect) */
  }
  
/* ***************************************************************************** */
